* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',sans-serif;
    margin: auto;
}

h1 {
    color: #425c77;
    font-weight: bold;
    font-size:18px;
}

h2 {
    color: #425c77;
    font-weight: 300;
    font-size: 16px;
}

img {
    vertical-align: middle;
    border-radius: 5px;
    margin: 20px;
}

/* Navbar Styles */
.navbar {
    height: 70px; /* Adjust the height as needed */
    padding: 1rem;
    background: hsl(200, 90%, 25%); /* Ensure the background color is consistent */
  }
  
  .navbar .logo {
    max-height: 40px; /* Adjust the logo size */
    margin: 1rem;
  }
  
  .navbar .navbar-burger {
    display: none;
  }
  
  .navbar {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-burger {
    color: white;
  }
  
  .logo {
    margin-right: 1.5rem;
  }
  .navbar .buttons .button {
    margin-top: 0;
  }

  .menu {
    position: fixed;
    width: 208px;
    height: 100%;
    padding-bottom: 50px;
    padding: 30px;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-label {
    color: hsl(200, 90%, 25%);
    margin-top: 4%;
  }
  
  /* Styles for the header to be hidden and shown */
  .menu.is-hidden {
    display: none;
  }
  
  .menu.is-visible {
    display: block;
  }

  .menu.is-active {
    position: fixed;
    top: 4.50rem;
    bottom: 4rem; 
    left: 0;
    width: fit-content;
    height: 100%;
    z-index: 1000; /* Ensure it is above other content */
    overflow-y: auto;
  }

  .column {
    background-color: #f3f4f6; 
  }
  
  .column.has-background-light {
    transition: margin-left 0.3s;
    padding: 20px;
  }
  
  /* Toggle button styles */
  .menu-toggle {
    display: none;
    background: hsl(200, 90%, 25%);
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .title {
    margin-top: 4%;
  }

  /* Documentasi List Styles */
.content-dokumentasi {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  gap: 15px;
}

.content-dokumentasi article {
  width: 45%;
  position: relative;
}

.content-dokumentasi h1 {
  position: absolute;
  bottom: 20px;
  left: 64%;
  transform: translateX(-60%);
  color: white;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  font-size: 24px; 
  font-family: 'Montserrat',sans-serif;
}

.content-dokumentasi .featured-image-modal{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-tentangKegiatan {
  width: 50%; 
  max-height: 150px; 
  object-fit:scale-down;
  margin: 0 auto 10px; 
  margin-bottom: 20px;
  display: block; 
}

.control button{
  color: white;
}

.content .has-text-centered{
  color: red;
}

.card-tentangKegiatan {
  margin: 10px auto 20px; 
  padding: 50px; 
  border-radius: 8px;
  width: 80%; 
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-tentangKegiatan h1 {
  margin-top: 10px; 
  text-align: center;
}

.keterangan ol {
  padding-left: 20px; /* Indentasi untuk daftar keterangan */
}

.navbar-burger {
  display: none;
}


.columns .box{
  margin: 30px;
}

.box img{
  margin: 0;
}

@media (max-width: 1200px) {
  .menu.is-active {
    display: block;
  }

    .menu {
      display: none;
  }


  .navbar .navbar-burger {
    display:flex;
    color: white;
  }

  .featured-image{
    padding-right: 30px;
    max-height: 200px;
    border-radius: 18px;
  }

  .content-dokumentasi h1 {
    left: 67%;
    font-size: 18px;
  }

}

  @media (max-width: 768px) {
    .navbar .navbar-menu {
      display: none;
    }
  
    .navbar .navbar-burger {
      display: contents;
      color: white;
    }
  
    .navbar.is-active .navbar-menu {
      display: block; 

    }
    .menu-toggle {
        display: block;
      }
    
      .menu {
        display: none;
      }

      .featured-image{
        padding-right: 30px;
        max-height: 200px;
      }

      div .column.has-background-light{
        padding: 20px;
      }

      .card{
        padding: 10px;
      }
    
      .menu.is-active {
        display: block;
        padding: 10px;
        font-size: 16px;
      }

      .columns.mt-6 {
        background-color: #f3f4f6; 
      }

       .columns .box{
        margin: 25px;
      }

      .box img{
        margin: 2px;
      }

      .table thead tr th, tbody tr td, .button.is-small {
        margin: 3px;
        font-size: 12px;
      }

      .card-content label, .select, .control .textarea, input, .button.is-success, .has-text-centered, .button.is-primary, .keterangan{
        font-size: 12px;
        padding: 5px;
      }

      .card-tentangKegiatan h2{
        font-size: 14px;
        padding-bottom: 10px;
      }

      .card .list-aturan{
        font-size: 14px;
      }

      div .title{
        font-size: 24px;
      }

      .field .control .input{
        width: 100%;
        font-size: 14px;
      }

      .content-dokumentasi p{
        font-size: 14px;
        padding: 20px;
      }


      .content-dokumentasi h1{
        left: 71%;
        font-size: 14px;
      }

      .content-dokumentasi .featured-image-modal{
        height: 150px;
      }

      div .subtitle, .card-tentangKegiatan .title{
        padding-top: 5px;
        font-size: 18px;
      }

    }

  

/* Tambahkan CSS untuk slider */
.mySlides {
    display: none;

}
img {
  vertical-align: middle;
  border-radius: 12px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 95%;
    max-height: 300px;
    position: relative; 
    margin: 10px;
    overflow: hidden; 
    border-radius: 12px;
}

.slide-image {
    object-fit:none;
    object-position: center;
    border-radius: 12px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    border-radius: 12px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 40px;
    margin-top: -25px;
    color: #f3f4f6;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }

  .next{
    padding-right: 20px;
  }
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 500px) {
    .prev, .next,.text {font-size: 14px}
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    color: white;
}

nav a:hover {
    font-weight: bold;
}

.table thead tr th {
  color: hsl(200, 90%, 25%);
}

.featured-image {
    width: 95%;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featured-image:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.card {
    position: relative;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 3%;
    padding: 3%;
    padding-bottom: 50px;
    
    background-color: #e9eaf0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.btn-daftar {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #506d8b;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    object-position: center;
    font-size: 12px;
    width: 15%;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.btn-daftar:hover {
    background-color: #82a7ce;
    color: white;
    font-weight: bold;
    
    transition: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

div p {
    text-align: justify;
}

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
    margin: 10px;
}


main .list-kategori ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.list-kategori li {
    background-color: #506d8b;
    border-radius: 14px;
    padding: 10px;
    max-width: 100px;
    margin-right: 15px;
    font-size: 12px;
    color: #ffffff;
}

.list-aturan li {
    color: #394f66;
    text-align: justify;
    font-size: 12px;
}

table .table th td{
    color: #394f66;
}

/* Tambahkan CSS berikut di file CSS Anda */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-item {
    margin-right: 15px; /* Jarak horizontal antara checkbox */
    margin-bottom: 15px; /* Jarak vertikal antara checkbox */
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 5px; /* Jarak antara checkbox dan label teks */
}





